<div class="d-flex justify-content-between">
  <div class="d-flex">
   <%# <%= image_tag suggestion.profile_pic.attached? ? suggestion.profile_pic : 'default_head.png', class: "img-thumbnail rounded-circle", style: "width: 2.5rem" %> 
   <%= image_tag 'default_head.png', class: "img-thumbnail rounded-circle", style: "width: 2.5rem" %>
    <div class="d-flex flex-column mx-3">
      <small class="fw-bold" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width:10rem"></small>
      <small class="text-muted" style="font-size:.7rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width:10rem">Suggested for you by Instagram as He followed you before</small>
    </div>
  </div>


</div>